name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Clone the GitHub repository to the machine
      uses: actions/checkout@v4
    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'
    - name: npm install
      run: npm install
    
build_and_test:
    runs-on: ubuntu-latest
    needs: security_tests

    steps:
    - name: Clone the GitHub repository to the machine
      uses: actions/checkout@v4
    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'

    - name: Install dependencies
      run: npm install
    - name: Run the FE
      run: npm start &
    - name: Run the BE
      run: npm server &
    - name: Run tests
      run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_test

    steps:
    - uses: actions/checkout@v4
    - uses: JorgeLNJunior/render-deploy@v1.4.4
      with:
        service_id_be: ${{ secrets.MY_RENDER_SERVICE_ID_BE }}
        service_id_fe: ${{ secrets.MY_RENDER_SERVICE_ID_FE }}
        api_key: ${{ secrets.MY_RENDER_API_KEY }}
        wait_deploy: true 
